<!DOCTYPE html>
<html lang="es">
	<!-- Includes-->
	<head>
		<%- include('./partials/head.ejs') %>
	</head>
	<body>
		<header>
			<%- include('./partials/header.ejs') %>
		</header>
	
	<!-- Banner -->
	<div class="banner">
		<img src="images/banner-mac.png" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title prompt-semibold">Novedades</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<%for (let i = 0; i < 8; i++) {%>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/product/detail">
							<figure class="product-box_image">
								<img class="imgIndex" src= >
							</figure>
							<article class="product-box_data">
								<h2 class="prompt-semibold"></h2>
								<p class="prompt-light"></p>
								<p class="prompt-light"></p>
							</article>
						</a>
					</section>
				</div>
			<%}%>
				</section>
			</div>
		</div>
	</div>
	<!-- /Novedades -->
	<!-- Más comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title prompt-semibold">Más comentados</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<%for (let i = 0; i < 8; i++) {%>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="./product/detail">
							<figure class="product-box_image">
								<img class="imgIndex" src=<%= productos[i].imagen %>>
							</figure>
							<article class="product-box_data">
								<h2 class="prompt-semibold"><%= productos[i].nombre %></h2>
								<p class="prompt-light"><%= productos[i].descripcion %></p>
								<p class="prompt-light">Comentarios: <%= productos[i].comentarios.length %></p>
							</article>
						</a>
					</section>
				</div>
			<%}%>
		</div>
	</div>
	<!-- /Más comentados -->
</body>
	
	<%- include('./partials/footer.ejs') %>
