<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <header>
	<% if (locals.user != undefined) { %>
		<%- include("./partials/headerLogueado") %>
	<% } else { %>
		<%- include("./partials/header") %>
	<% } %>
    </header>

    <!-- Banner -->
    <div class="banner">
        <img src="images/banner-mac.png" alt="Banner de ofertas">
    </div>
    <!-- /Banner -->

    <!-- Novedades -->
    <div class="container products-wrapper">
        <div class="row">
            <div class="col-12">
                <h2 class="products-title prompt-semibold">Novedades</h2>
            </div>
            <% if (productos && productos.length > 0) { %> <!-- Verificación agregada -->
                <% for (let i = 0; i < productos.length && i < 8; i++) { %>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <section class="product-box">
                            <a href="/product/detail/<%= productos[i].id %>">
                                <figure class="product-box_image">
                                    <img class="imgIndex" src="<%= productos[i].imagen %>" alt="<%= productos[i].nombre %>">
                                </figure>
                                <article class="product-box_data">
                                    <h2 class="prompt-semibold"><%= productos[i].nombre %></h2>
                                    <p class="prompt-light"><%= productos[i].descripcion %></p>
                                    <p class="prompt-light">Comentarios: <%= productos[i].comentarios.length %></p>
                                    <a href=""><%= productos[i].usuario.email %></a>
                                </article>
                            </a>
                        </section>
                    </div>
                <% } %>
            <% } else { %> <!-- Mensaje alternativo si no hay productos -->
                <div class="col-12">
                    <p>No hay productos disponibles</p>
                </div>
            <% } %>
        </div>
    </div>
    <!-- /Novedades -->

    <!-- Más comentados -->
    <div class="container products-wrapper">
        <div class="row">
            <div class="col-12">
                <h2 class="products-title prompt-semibold">Más comentados</h2>
            </div>
            <% if (productos && productos.length > 0) { %>
               
                
                
                <% for (let i = 0; i < productos.length && i < 8; i++) { %>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <section class="product-box">
                            <a href="./product/detail/<%= productos[i].id %>">
                                <figure class="product-box_image">
                                    <img class="imgIndex" src="/images/products/<%= productos[i].imagen %>" alt="<%= productos[i].nombre %>">
                                </figure>
                                <article class="product-box_data">
                                    <h2 class="prompt-semibold"><%= productos[i].nombre %></h2>
                                    <p class="prompt-light"><%= productos[i].descripcion %></p>
                                    <p class="prompt-light">Comentarios: <%= productos[i].comentarios.length %></p>
                                </article>
                            </a>
                        </section>
                    </div>
                <% } %>
            <% } else { %>
                <div class="col-12">
                    <p>No hay productos disponibles</p>
                </div>
            <% } %>
        </div>
    </div>

    <footer>
        <%- include('./partials/footer.ejs') %>
    </footer>
</body>
</html>
