<!DOCTYPE html>
<html lang="es">

	<!-- Includes-->
	<%- include('./partials/head.ejs') %>
	<!-- Includes-->

<body>
	<!-- Includes-->
	<% if (locals.user != undefined) { %>
		<%- include("./partials/headerLogueado") %>
	<% } else { %>
		<%- include("./partials/header") %>
	<% } %>
	<!-- Includes-->

		
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= products.nombre %></h2> 
			<% if (products.usuario) { %>
                <a href="/users/perfil/<%= products.usuario.usuario_id %>"><%= products.usuario.email %></a>
            <% } %>
			<% if (locals.user != undefined) { %>
				<p class="product-detail-description">
				<a href="/product/edit">Editar</a>
				<a href="/product/delete/<%= products.id %>">Borrar</a>
			</p>
			<%} else {%>
				<p class="product-detail-description">
					<a href="/users/login">Tienes que iniciar sesion para comentar</a>
					
			<%} %>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src=<%= products.imagen %> alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%= products.descripcion %> </p>
				</article>
				<%for (let i = 0; i < products.comentarios.length; i++) {%>
				<div class="columnacoments">
					<section class="comments">
						<article>
							<img src=<%= products.comentarios[i].usuario.foto %> alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="/users/perfil/<%= products.comentarios[i].usuario.id %>"><%= products.comentarios[i].usuario.email %> </a> </strong>
								<%= products.comentarios[i].comentario %></p>
							</div>
						</article>
					</section>
				<%}%>
				<% if(locals.user != undefined) {%>
					<form class="form" action="/product/detail/<%= products.id%>" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario" name="añadircomentario">
						<button type="submit" class="buy-now-button prompt-semibold">AGREGAR COMENTARIO</button>
				<% } else { %>
					<div><a href="/users/login">Inicia sesión para comentar en el producto.</a></div>
				<% } %>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- Footer -->
	<%- include('./partials/footer.ejs') %>
	<!-- Footer -->
	 
</body>
</html>

