<!DOCTYPE html>
<html lang="es">
		<!-- Includes-->
		<%- include('./partials/head.ejs') %>
		<%- include('./partials/header.ejs') %>
		
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title">Nombre del producto</h2> 
			<p class="product-detail-description">
				<a href="/product/add">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src=<%= productos[0].imagen %> alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%= productos[0].descripcion %> </p>
				</article>
				<%for (let i = 0; i < productos[0].comentarios.length; i++) {%>
				<div class="columnacoments">
					<section class="comments">
						<article>
							<img src=<%= productos[0].comentarios[i].fotoPerfil %> alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="profile.html"> <%= productos[0].comentarios[i].usuario %> </a> </strong>
								<%= productos[0].comentarios[i].coment %></p>
							</div>
						</article>
					</section>
				<%}%>
					<form class="form" action="/" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<%- include('./partials/footer.ejs') %>
