<!DOCTYPE html>
<html lang="es">

	<!-- Includes-->
<%- include('./partials/head.ejs') %>
<!-- Includes-->


<body>
	<!-- Includes-->
		<%- include("./partials/headerLogueado") %>
						<!-- Includes-->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title prompt-semibold">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> <i>///////////////////////////////////////// 

				<form action="/users/perfil/ <%= users.id  %>" method="POST" class="prompt-light" novalidate>
			
					<div>
						<label for="email">Email: </label>
						<input id="email" type="email" name="email" value="<%= users.email %>" required>
					</div>
					<div>
						<label for="usuario">Usuario: </label>
						<input id="usuario" type="text" name="usuario" value="<%= users.user %>" required>
					</div>
					<div>
						<label for="contrase単a">Contrase単a: </label>
						<input id="contrase単a" type="password" name="contrase単a" value="<%= users.password %>" required>
					</div>
					<div>
						<label for="fecha">Fecha de nacimiento: </label>
						<input id="fecha" type="date" name="fecha" value="<%= users.fecha %>" required>
					</div>
					<div>
						<label for="Nro de documento">Nro de documento: </label>
						<input id="documento" type="number" name="documento" value="<%= users.dni %>"required>
					</div>
					<div>
						<label for="foto de perfil">Foto de perfil: </label>
						<input id="foto" type="text" name="foto" value="<%= users.foto %>" required>
					</div>
			
		
							<button type="submit">Guardar cambios</button></p>
					</form>
						
					</h2>
		
	<!-- Footer -->
	<%- include('./partials/footer.ejs') %>
	<!-- Footer -->
	 
</body>
</html>
