<!DOCTYPE html>
<html lang="es">
	<!-- Includes-->
	<%- include('./partials/head.ejs') %>
	<!-- Includes-->

<body>
	<!-- Includes-->
	<% if (locals.user != undefined) { %>
		<%- include("./partials/headerLogueado") %>
	<% } else { %>
		<%- include("./partials/header") %>
	<% } %>
	<!-- Includes-->
	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src= <%= user.foto %> alt="foto de perfil" class="foto-perfil">
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title"> <%= user.user %>
						<a href="/users/profile-edit">
							<i class="fas fa-cog"></i>
						</a>
					</h1>
					<a class="btn mt-3 ml-4" href="">SEGUIR</a>
				</div>
				<div>
					<ul class="">
						<li><%= user.products %></li>
						<li><%= user.comments %></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Mis productos</h2>
			</div>
			<!-- Show mis productos -->
			<div class="container products-wrapper">
				<div class="row">
					<div class="col-12">
						<h2 class="products-title prompt-semibold">Novedades</h2>
					</div>
					<% if (products && user.products > 0) { %> 
						<% for (let i = 0; i < user.products && i < 4; i++) { %>
							<div class="col-12 col-sm-6 col-lg-3">
								<section class="product-box">
									<a href="/product/detail">
										<figure class="product-box_image">
											<img class="imgIndex" src="<%= user.products[i].imagen %>" alt="<%= user.products[i].nombre %>">
										</figure>
										<article class="product-box_data">
											<h2 class="prompt-semibold"><%= user.products[i].user %></h2>
											<p class="prompt-light">Comentarios: <%= user.products[i].comments.length %></p>
										</article>
									</a>
								</section>
							</div>
						<% } %>
					<% } else { %> <!-- Mensaje alternativo si no hay productos -->
						<div class="col-12">
							<p>No hay productos disponibles</p>
						</div>
					<% } %>
				</div>
			</div>
		</div>
	</div>
	<!-- /Mis productos -->

	<!-- Footer -->
	<%- include('./partials/footer.ejs') %>
	<!-- Footer -->
	 
</body>
</html>

