<!DOCTYPE html>
<html lang="es">

	<!-- Includes-->
	<%- include('./partials/head.ejs') %>
	<%- include('./partials/header.ejs') %>
	<!-- Includes-->
		

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> <i>///////////////////////////////////////// 
			<form action="/users/registrate" method="POST" novalidate>
			
			<div>
				<label for="email">Email: </label>
				<input id="email" type="email" name="email" required>
				<% if (locals.errors && errors.email) { %>
					<%= errors.email.msg %>                                                                             
				<% } %>
			</div>
			
			<div>
				<label for="usuario">Usuario: </label>
				<input id="usuario" type="text" name="usuario" required>
			</div>
			<div>
				<label for="contraseña">Contraseña: </label>
				<input id="password" type="password" name="password" required>
				<% if (locals.errors && errors.password) { %>
					<%= errors.password.msg %>                                                                             
				<% } %>
			</div>
			<div>
				<label for="fecha de nacmiento">Fecha de nacimiento: </label>
				<input id="fecha" type="date" name="fecha" required>
				                                                                          
			
			</div>
			<div>
				<label for="Nro de documento">Nro de documento: </label>
				<input id="dni" type="number" name="dni" required>
				<% if (locals.errors && errors.password) { %>
					<%= errors.password.msg %>                                                                             
				<% } %>
			</div>
			<div>
				<label for="foto de perfil">Foto de perfil: </label>
				<input id="foto" type="text" name="foto" required>
				<% if (locals.errors && errors.password) { %>
					<%= errors.password.msg %>                                                                             
				<% } %>
			</div>
	

					<button type="submit">Registrarse</button></p>
			</form>
				
				
	
			</h2>

	<!-- Footer -->
	<%- include('./partials/footer.ejs') %>
	<!-- Footer -->
	 
</body>
</html>


