<!DOCTYPE html>
<html lang="es">

    <header>
	    <% if (locals.user != undefined) { %>
		    <%- include("./partials/headerLogueado") %>
	    <% } else { %>
		    <%- include("./partials/header") %>
	    <% } %>
    </header>

		<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<%for (let i = 0; i < 8; i++) {%>
                <div class="col-12 col-sm-6 col-lg-3">
                    <section class="product-box">
                        <a href="/product">
                            <figure class="product-box_image">
                                <img class="imgIndex" src= <%= producto[i].imagen %>>
                            </figure>
                            <article class="product-box_data">
                                <h2><%= productos[i].nombre %></h2>
                                <p><%= productos[i].descripcion %></p>
                                <p>Comentarios: <%= productos[i].comentarios.length %></p>
                            </article>
                        </a>
                    </section>
                </div>
            <%}%>
		</div>
	</div>
	<%- include('./partials/footer.ejs') %>
